/* main css file i.e used for universal purpose */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex-column;
  align-items: center;
  height: 100%;
} 

h1 {
  font-family: "Sen";
  letter-spacing: -4px;
  color: #bf7222ff;
}

@layer base {
  p {
    @apply font-Dmsans font-light leading-[1.5];
  }
}

/*p {
  font-family:"Dmsans";
  color: #666565;
  /* font-weight: lighter; */
  /* line-height: 1.5;
} */
